
/* Danh sách sp đã mua  */
.buyingList{
    width: 100%;
    margin-top: 50px;
}
.buyingList .container{
    max-width: 1100px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.buyingList .headList, .buyingList .cart{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buyingList .headList .item-headList, .buyingList .cart .detailInfor{
    flex-basis: 20%;
    text-align: center;
    padding: 20px;
}
.buyingList .cart .detailInfor img{
    width: 50%;
}
.buyingList .cart input{
    padding: 5px 10px;
    text-align: center;
}

.buyingList .notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.buyingList .notification a,.buyingList .notification i{
    display: inline-block;
    margin-top: 30px;
}
.buyingList i:hover{
    color: var(--primary-color);
}
/* THÔNG TIN NGƯỜI MUA */
.buyerInformation{
    width: 100%;
    margin-top: 20px;
}
.buyerInformation .container{
    max-width: 1100px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.buyerInformation .container .customerInfo{
    margin-top: 20px;
}
.buyerInformation .container .customerInfo input{
    margin-top: 5px;
    padding: 10px;
    border-radius: 2px;
}
.buyerInformation .container .order button{
    margin-top: 20px;
    width: 100%;
}

/* Popup */
.popUpOrder .container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;

}
.popUpOrder .content{
    padding: 50px 30px;
    min-width: 50%;
    border: 1px solid #ddd;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popUpOrder .imgCongrate{
    max-width: 50%;
}
.popUpOrder .content p{
    margin: 30px 0;
}
.popUpOrder .content .btn{
    width: 100%;
}

















